<FlexboxLayout class="page">


    <FlexboxLayout class="page">
        <StackLayout class="form">
            ...
        </StackLayout>

        <Label text="Don’t have an account?"></Label>
    </FlexboxLayout>

    <StackLayout class="form">
        <StackLayout class="input-field">
            <TextField hint="Email" ...></TextField>
        </StackLayout>

        <StackLayout class="input-field">
            <TextField hint="Password" ...></TextField>
        </StackLayout>

    </StackLayout>


</FlexboxLayout>
