.title {
  font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: aquamarine;
}
.subtitle {
  font-size: 20px;
  color: coral;
}
.date-time-picker{
  text-align: right;
  color: black;
}
.name{
  color: black;
}
.-outline -rounded-lg{
  color: coral;
}
