.container {
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    color: red;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.date-time-picker {
    text-align: right;
    color: black;
}

.name {
    color: black;
}

.menu-btn {
    border-radius: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#incoming-invoice {
    background: linear-gradient(to right, rgb(131, 164, 212), rgb(182, 251, 255));
}

#outgoing-invoice {
    background: linear-gradient(to right, orange, #f8d28b);
}

#business-info {
    background: linear-gradient(to right, blue, #a6a6f8);
}

#customer-info {
    background: linear-gradient(to right, deeppink, #f5a1ce);
}

#chat {
    background: linear-gradient(to right, green, #a9f3a9);
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
}
